body {
    color: #fff;
    text-align: center;
    font-family: "Rosario", sans-serif;
}
.black {
    color: #000;
}
hr {
    border: 1px solid lightgrey;
    width: 100%;
}

header, h2, footer {
    background-color: rgb(40, 77, 109);
}
.brand {
    font-family: "Syne Mono", monospace;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
#mypic {
    max-width: 100px;
}
#headerSpan {
    font-size: 2rem;
}
nav, .courseFilterButton {
    background-color: black;
}
nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
nav a {
    text-decoration: none;
}

main {
    padding: 20px;
}
h1 {
    color: rgb(40, 77, 109);
    text-align: left;
    margin: 0;
}
section {
    border-radius: 5px;
    overflow: hidden;
}
h2 {
    margin-top: 0;
}
a {
    color: #fff;
}
.courseFilterButton {
    color: #fff;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.done {
    background-color: rgb(95, 50, 40);
    border: 2px solid black;
}
.notyet {
    background-color: rgb(230, 240, 240);
    color: #000;
    border: 2px solid lightgrey;
}
.done, .notyet {
    padding: 10px;
    border-radius: 5px;
}

nav, h2, footer {
    padding: 10px;
}
