@media screen and (min-width: 760px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    #section3, h1 {
        grid-column: 1/3;
    }
    h1 {
        margin-bottom: 0;
    }
    section {
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
    }
    #section3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    #section3 h2, div, hr {
        grid-column: 1/4;
    }
    #courseFilter {
        max-width: 150px auto;
    }
    #section3 div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .courses {
        margin: 0 10px 0 10px;
        column-gap: 20px;
    }
}